.container {
  max-width: 500px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  background-color: #f0f0f0;
}
#display {
  text-align: right;
  height: 90px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}
.buttons {
  display: grid;
  grid-gap: 7px;
  padding: 7px;
  grid-template-columns: auto auto auto auto auto;
}

.button {
  padding-top: -1px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
}
.btn1 {
  list-style: none;
  font-size: 20px;
  display: grid;
  grid-gap: -1px;
  grid-template-columns: 0.3fr 0.3fr;
  cursor: pointer;
  padding-bottom: 10px;
  padding-left: 3px;
}
.btnn {
  font-size: 15px;
  display: grid;
  text-transform: bold;
  grid-gap: 2px;
  grid-template-columns: 0.13fr 0.1fr;
  cursor: pointer;
  padding-bottom: 15px;
  padding-left: 3px;
}
.btn0 {
  font-size: 20px;
  display: grid;
  grid-gap: 7px;
  grid-template-columns: auto auto auto auto auto;
  padding-bottom: 15px;
  text-align: center;
}
#equal {
  background-color: #889cdf;
  color: white;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
